<html>

	<head>
		<title>TrustDboy</title>
	</head>
	<body>
	<h1>Hello World!!
		Welcome to 'TrustDboy's' Home page
		My name is Abdul Mutalib osumanu but,
		popularly called Trustdboy.
		I am a computer scientist so i prone of truth and facts so,
		i don't guess rather, i say the truth and facts.
		I am a student under the tuitions of Sammoorhouse from UK.
		Thank You!!!
	</h1>
	<img src = "http://i.stack.imgur.com/WCveg.jpg " height ="200" width=
		"200"/>
	<img src = "https://openclipart.org/image/800px/svg_to_png/248294/Huehner-coloured.png" height="900"	width="1000" length="500"/>	
	</body>
	
</html>

