<html>
<head>
<title>Trust.Com</title>
<body>
<h1>Hello World</h1>
<h2>This is the web page primary done for coders on this earth</h2>
<p> Rememer in everything , we are scientists so We don't guess!!</p>
<ul>
<a href="https://www.facebook.com/">MyFaceBook</a>

<a href = "http://0.0.0.0:5000/linux" >LinuxWebpage</a>

<a href ="http://0.0.0.0:5000">MyMainWebPage</a>

</ul>

<img src ="https://cdn.pixabay.com/photo/2016/01/28/19/10/girl-1166842_960_720.jpg
" height="320" width="900" length=200 />
</body>
</html>

