
<html>
	<head>
		<title>TrustSam</title>
	</head>
<body>
	<h1>This is my python work done</h1>
<p> I am now making progress </p>

<img src ="https://realpython.com/learn/python-first-steps/images/pythonlogo
.jpg" height="200" width="200" />
<h1>Here are some tips of commands in python!</h1>
	<h2>Remember Python is CASE SENSITIVE!</h2>

<ol>

<li>How to be in a file called templates</li>
<p>CD templates</p>
<p> 

NB: the 'cd' before templates means, change directory or directories
</p>
<li>To move back to Home no mather where you are , this is the command used:
</li>
<p>CD ~
</p>
<p>
NB: Python is case sensitive so to back to your home no matter where you are
within the terminal, you type CD and space before the tilder sign ( ~ )
then , you shall go back to your home of the main root before you start 
anything else .
</p>
<li>To open a text space for extra block of codes which can be used 
especially on our webpage which is known as ' pico ', we type pico and the 
name of file example python.html so that , the page can execute html commands
attached to pythons commands.
</li>
<li>
 To move back a step from your current directory to any directories below,
 you type:

<p>
cd ..    
</p>
NB:You type 'CD .. ' thus , CD and double dot '..'

<p> In python, to hide files within a folder , we use the command below:
</p>
 we use dot '.' thus a single dot before the name of the file
example, if we are to hide a file called  trust, this is how to go about it <p>
.trust     ( ' dot trust) </p>
  <li>
  To complete an existen files name in either calling or checking the status 
of an existen files in python, we type some few letters then press 'tab' 
to complete the whole name for you and this shows that , python is very 
intelligent .
</li>
<li>To concatenate or to combine  different strings(more than one word)
 in a one line or to combine an integer and a string together , we use 
the following steps:
example; def trust(): to be continue 
</body>

</html>
