<html>
	<head>
		<title>TrustSam</title>
	</head>
<body>
	<h1>This is my python work done</h1>
<p> I am now making progress </p>

<img src ="https://realpython.com/learn/python-first-steps/images/pythonlogo
.jpg" height="200" width="200" />
<h1>Here are some tips of commands in python!!</h1>

<ol>

<li>How to be in a file called templates</li>
<p>CD templates 

NB: the 'cd' before templates means, change directory or directories
</p>
<li>To move back to Home no mather where you are , this is the command used:
<p>CD ~
NB: Python is case sensitive so to back to your home no matter where you are
within the terminal, you type CD and space before the tilder sign ( ~ )
then , you shall go back to your home of the main root before you start 
anything else .
</p>
<li>To open a text space for extra block of codes which can be used 
especially on our webpage which is known as ' pico ', we type pico and the 
name of file example python.html so that , the page can execute html commands
attached to pythons commands.  
</body>

</html>
